---
//src/components/Card.astro
const {name, position, aboutMe, linkedin, github, profileImage } = Astro.props;

import '../styles/card.css';
---

<div class="container">
    <div class="card-container">
        <div class="description">
            <h1>{name}</h1>
            <h3>{position}</h3>
            <div class="about-me-content">
                <div class="section">
                    <p>{aboutMe.content}</p>
                </div>
                <div class="section">
                    <h2>{aboutMe.highlights.title}</h2>
                    <ul>
                        {aboutMe.highlights.items.map(item => (
                            <li>{item}</li>
                        ))}
                    </ul>
                </div>
            </div>
            <div class="icons">
                <a href="/projects" class="hover-text" aria-label="View Projects">
                    <span class="tooltip-text">
                        Projects
                    </span>
                    <i class="bi bi-folder"></i>
                </a>
                <a href={linkedin} class="hover-text" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn Profile">
                    <span class="tooltip-text">
                        LinkedIn
                    </span>
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href={github} class="hover-text" target="_blank" rel="noopener noreferrer" aria-label="GitHub Profile">
                    <span class="tooltip-text">
                        GitHub
                    </span>
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </div>
        <div class="image">
            <img src={profileImage} alt="Profile photo of Ioannis E. Kosmadakis">
        </div>
    </div>
</div>